
    *{
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
    overflow: hidden;
    }
    *::-webkit-scrollbar{
        display: none;
    }
    body{
        margin:0px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .error_animation{
        font-size: 20px;
        font-variant: small-caps;
        font-weight: bolder;
        margin: 10px 0px 10px 0px;
        text-align: center;
        color: #4949c6;
        user-select: none;
        width: fit-content;
        border-radius: 5px;
        padding: 0px 2px;
        animation: error_animation-animation 1s ease-in-out 0s;
    }
    @keyframes error_animation-animation {
        0%{background-color: red;}
        25%{background-color: transparent;}
        50%{background-color: red;}
        75%{background-color: transparent;}
        100%{background-color: red;}
    }
/* -------------------------------------------------------------------------------------------------------------------------------------- */

    .employeeHome_container_one{
        height:850px;
        padding: 50px 0px 0px 0px;
    }
    .employeeHome_container_one_anchor_back{
        height:50px;
        width:120px;
        align-self: center;
        margin: 20px 0px;
        background-color: transparent;
        border-radius: 12px;
        border:2px solid #2dcd95;
        cursor: pointer;
        transition: all 0.4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: absolute;
        top: 0px;
        margin-left: 1250px;
        color: #000;
    }
    .employeeHome_container_one_anchor_back:hover{
        background-color: #c4fff2;
        border:none;
        width: 130px;
        font-size: 16px;
    }
    .employeeHome_container_one_teamHolder{
        height:100px;
        width:150px;
        border-radius: 12px;
        box-shadow: 0 0 4px 5px lightgrey;
        position: absolute;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
/* -------------------------------------------------------------------------------------------------------------------------------------- */

    .employeeHome_container_one_nav{
        height:100px;
        width: 1492px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: employeeHome_container_one_nav-animation 1.4s ease-in-out 0s;
    }
    @keyframes employeeHome_container_one_nav-animation {
        0%{opacity: 0;position: relative;top: -600px;}
        100%{opacity: 1;position: relative;top: 0px;}
    }
    .employeeHome_container_one_nav_anchor{
        height:50px;
        width:120px;
        align-self: center;
        margin: 20px 0px;
        background-color: transparent;
        border-radius: 12px;
        border:2px solid #196b94;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0px 20px;
        color: #000;
        transition: all 0.4s ease;
    }
    .employeeHome_container_one_nav_anchor:hover{
        background-color: #c4fff2;
        border:none;
        width: 130px;
        font-size: 16px;
    }
    .employeeHome_container_one_nav_button{
        min-height:50px;
        max-height:50px;
        min-width:90px;
        max-width:90px;
        align-self: center;
        margin: 20px 0px;
        background-color: transparent;
        border-radius: 12px;
        cursor: pointer;
        margin: 0px 20px;
        background-image: url('../images/employeeMail.jpg');
        background-size: cover;
        border: none;
    }
    .employeeHome_container_one_mail_hidden{
        display: none;
    }
    .employeeHome_container_one_mail_visible{
        position: absolute;
        height: 500px;
        width: 400px;
        z-index: 9;
        margin-left: 500px;
        top: 30px;
        border-radius: 12px;
        overflow-y: scroll;
        background-color: #fff;
        padding: 12px;
        box-shadow: 0 0 4px 5px lightgrey;
        animation: employeeHome_container_one_mail_visible-animation 1s ease 0s;
    }
    @keyframes employeeHome_container_one_mail_visible-animation {
        0%{transform: scale(0%);}
        100%{transform: scale(100%);}
    }
    .employeeHome_container_one_mail_eachMail{
        min-height:100px;
        width:100%;
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px;
        box-shadow: 0 0 2px 1px lightgrey;
        margin: 10px 0px;
    }
    .employeeHome_container_one_mail_visible_close{
        position: sticky;
        top: 0px;
        font-size: 30px;
        color: red;
        margin-left: 350px;
        margin-top: -10px;
        cursor: pointer;
    }
/* -------------------------------------------------------------------------------------------------------------------------------------- */
    .employee_container_three{
        height:700px;
        max-width: 1492px;
        overflow: hidden;
        display:flex;
    }
/* -------------------------------------------------------------------------------------------------------------------------------------- */
    .employee_container_three_one{
        min-height:700px;
        min-width: 1492px;
        max-height:700px;
        max-width: 1492px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: employee_container_three_one-animation 2.4s ease-in-out 0s;
    }
    @keyframes employee_container_three_one-animation {
        0%{opacity: 0;}
        100%{opacity: 1;}

    }
    .employee_container_three_one_one{
        margin: 0 20px;
        padding: 0px 40px;
        width:1452px;
        height: 700px;
        background-image: url('../images/employeeDashboard.png');
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .employee_container_311_tasksNotDone{
        height:650px;
        width:700px;
        margin-right: 20px;
        border-radius: 18px;
        padding: 20px;
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px 4px lightgrey;
        text-align: center;
        animation: employee_container_311_tasksNotDone-animation 1.4s ease-in-out 0s;
    }
    @keyframes employee_container_311_tasksNotDone-animation {
        0%{opacity: 0;position: relative;top: 600px;backdrop-filter: blur(4px);}
        100%{opacity: 1;position: relative;top: 0px;backdrop-filter: blur(4px);}
    }
    .employee_container_311_tasksNotDone_task{
        height:80px;
        width:100%;
        border: 1px solid;
        border-radius: 12px;
        margin:10px 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .employee_container_311_tasksNotDone_task_span{
        margin: 0px 5px;
    }
    .employee_container_311_tasksNotDone_task_desc{
        margin: 0px 5px;
        width:250px;
    }
    .employee_container_311_tasksNotDone_task_button{
        height:50px;
        width:50px;
        align-self: center;
        margin: 20px 0px;
        background-color: transparent;
        border-radius: 12px;
        border:2px solid #196b94;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0px 20px;
        color: #000;
        transition: all 0.4s ease;
    }
    .employee_container_311_tasksNotDone_task_button:hover{
        background-color: #c4fff2;
        border:none;
        height: 55px;
        font-size: 16px;
    }
    .employee_container_311_tasksDone{
        height:650px;
        width:400px;
        border-radius: 18px;
        box-shadow: 0 0 5px 4px lightgrey;
        text-align: center;
        padding: 20px;
        animation: employee_container_311_tasksNotDone-animation 1.4s ease-in-out 0s;
    }
    .employee_container_311_tasksDone_task_span{
        margin:0px 10px;
    }
    .employee_container_311_tasksDone_task{
        height:80px;
        width:100%;
        border: 1px solid;
        border-radius: 12px;
        margin:10px 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    /* -------------------------------------------------------------------------------------------------------------------------------------- */

    .employee_container_three_two{
        min-height:700px;
        min-width: 1492px;
        max-height:700px;
        max-width: 1492px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .employee_container_three_two_one{
        margin: 0 20px;
        padding: 0px 40px;
        width:1452px;
        height: 700px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-image: url('../images/employeeOverview.png');
        background-size: cover;
    }
    .employeeHome_container_one_nav_anchor:nth-child(2):hover{
        background-color: #39a1ff;
        border:none;
        width: 130px;
        font-size: 16px;
    }
    .employee_container_321_overview{
        height:650px;
        width:800px;
        box-shadow: 0 0 5px 4px lightgrey;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .employee_container_321_overview_div_label{
        font-size: 20px;
        font-variant: small-caps;
        font-weight: bolder;
        margin: 10px 0px 10px 0px;
        text-align: center;
        color: #4949c6;
    }
    .employee_container_321_overview_div_input{
        height:30px;
        width: 60%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
        outline: none;
        background-color: transparent;
        text-align: center;
    }
    
    .employee_container_321_overview_div_button{
        height:50px;
        width:130px;
        align-self: center;
        margin: 20px 0px;
        background-color: transparent;
        border-radius: 12px;
        border:2px solid #4949c6;
        cursor: pointer;
        transition: all 0.4s ease;

    }
    .employee_container_321_overview_div_button:hover{
        background-color: #4949c6;
        border:none;
        width: 140px;
        font-size: 16px;
        color: #fff;
    }
    /* -------------------------------------------------------------------------------------------------------------------------------------- */
    .employee_container_three_three{
        min-height:700px;
        min-width: 1492px;
        max-height:700px;
        max-width: 1492px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .employee_container_three_three_one{
        margin: 0 20px;
        width:1452px;
        height: 700px;
        background-size: cover;
        background-image: url('../images/employeeProfile.png');
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .employee_container_331_one{
        height: 650px;
        width:500px;
        box-shadow: 0 0 5px 4px lightgrey;
        border-radius: 22px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 150px 0px 0px;
    }
    .employeeHome_container_one_nav_anchor:nth-child(3):hover{
        background-color: #4d69ea;
        border:none;
        width: 130px;
        font-size: 16px;
    }
    .employee_container_331_one_label{
        font-size: 20px;
        font-variant: small-caps;
        font-weight: bolder;
        margin: 10px 0px 10px 0px;
        text-align: center;
        color: #4949c6;
    }
    .employee_container_311_one_input{
        height:30px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
        outline: none;
        background-color: transparent;
        text-align: center;
        width:70%;
    }
    /* -------------------------------------------------------------------------------------------------------------------------------------- */
