<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ManagerSignup</servlet-name>
  	<display-name>ManagerSignup</display-name>
  	<description></description>
  	<servlet-class>com.controller.ManagerSignup</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ManagerLogin</servlet-name>
  	<display-name>ManagerLogin</display-name>
  	<description></description>
  	<servlet-class>com.controller.ManagerLogin</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>EmployeeSignup</servlet-name>
  	<display-name>EmployeeSignup</display-name>
  	<description></description>
  	<servlet-class>com.controller.EmployeeSignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeTaskAdd</servlet-name>
  	<display-name>EmployeeTaskAdd</display-name>
  	<description></description>
  	<servlet-class>com.controller.EmployeeTaskAdd</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ManagerSignup</servlet-name>
  	<url-pattern>/ma</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ManagerLogin</servlet-name>
  	<url-pattern>/ml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeSignup</servlet-name>
  	<url-pattern>/es</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeTaskAdd</servlet-name>
  	<url-pattern>/eta</url-pattern>
  </servlet-mapping>
</web-app>